.Footer {
    height: 593px;
    background: #404040;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer .Map{
    height: 285px;
    width: 401px;
    background-color: blue;
}

.Footer .Liens li{
    list-style-type: none;
}

.Footer .Liens li a{
    text-decoration: none;
    color: white;
}