.carousel {
  position: relative;
}

.carousel .thumbs {
  display: none;
}

.carousel .overlay {
  width: 20%;
  height: 80%;
  position: absolute;
  top: 10%;
  transform: translateY(-50);
  left: 70%;
  padding: 0.4rem 1.5rem;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.carousel .overlay_title {
  margin: 0.8rem 0 1rem 0;
  ;
}