.imgdec {
    width: 100%;
    height: 100vh;
  }
  
  .dec {
    position: absolute;
    width: 100%;
    top: 6vw; 
    left: 3vw;
    font-family: 'Inter';
    font-style: normal;
    font-size:2.5vw;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    -webkit-text-stroke: 0.5px #053605;
    text-shadow: 0px 4px 4px #18801a;
  }
  
  .divdec {
    position: absolute;
    width: 20vw;
    height: 47px;
    left: 40px;
    top: 160px;
  }
  
  
  .imgtitredec {
    width: 100%;
  }
  
  .divimgtitre_dec {
    position: absolute;
    width: 25%;
    height: 248px;
    left: 40px;
    top: 199px;
  }

  .ButtonDivEnv {
    position: absolute;
    right: 20vw;
    top: 160px;
  }
  
  .Decouvrir_Privas .cercle:nth-child(1) a {
    background-color: white;
    box-shadow:0px 0px 0px 10px #F7AD00 inset;
  
  }
  
  .Decouvrir_Privas .cercle:nth-child(1) {
    position: absolute;
    right: 10vw;
    transform: scale(1);
  }
  
  .Decouvrir_Privas .cercle:nth-child(2) a {
    background-color: white;
    box-shadow:0px 0px 0px 10px #4AA003 inset;
  }
  
  .Decouvrir_Privas .cercle:nth-child(2) {
    position: absolute;
    top : 30vh;
    transform: scale(1.5);
  }
  
  .Decouvrir_Privas .cercle:nth-child(3) a {
    background-color: white;
    box-shadow:0px 0px 0px 10px #188019 inset;
  }
  
  .Decouvrir_Privas .cercle:nth-child(3) {
    position: absolute;
    top: 52vh;
    right: 27vw;
    transform: scale(1.8);
  }
  
  .Decouvrir_Privas .cercle img:hover {
    opacity: 25%;
    transition: 1s;
  }