.environnement {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.626), rgba(0, 0, 0, 0.027) ),
                    url("../Images/Environnement/env_home.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.env {
  position: absolute;
  width: 100%;
  top: 6vw;
  left: 4.5vw;
  font-family: 'Inter';
  font-style: normal;
  font-size: 2.5vw;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  -webkit-text-stroke: 0.5px #053605;
  text-shadow: 0px 4px 4px #18801a;
}

.divenv {
  position: absolute;
  width: 20vw;
  height: 47px;
  left: 40px;
  top: 160px;
}

.imgtitrenv {
  width: 100%;
}

.divimgtitre {
  position: absolute;
  width: 25%;
  height: 248px;
  left: 40px;
  top: 199px;
}

.ButtonDivEnv {
  position: absolute;
  right: 20vw;
  top: 160px;
}

.environnement .cercle:nth-child(1) a {
  background-color: white;
  box-shadow:0px 0px 0px 9px #F7AD00;

}

.environnement .cercle:nth-child(1) {
  position: absolute;
  right: 10vw;
  transform: scale(1);
}

.environnement .cercle:nth-child(2) a {
  background-color: white;
  box-shadow:0px 0px 0px 9px #4AA003;
}

.environnement .cercle:nth-child(2) {
  position: absolute;
  top : 30vh;
  transform: scale(1.5);
}

.environnement .cercle:nth-child(3) a {
  background-color: white;
  box-shadow:0px 0px 0px 9px #188019;
}

.environnement .cercle:nth-child(3) {
  position: absolute;
  top: 52vh;
  right: 27vw;
  transform: scale(1.8);
}

.environnement .cercle img:hover {
  opacity: 25%;
  transition: 1s;
}

.ButtonDivEnv .cercle .items p {
  font-size: 2vw;
  text-align: center;
}

@media only screen and (max-width: 765px) {
    
    .ButtonDivCult .cercle {
      margin: 10px;
      width: 100px;
      height: 100px;
    }

    .ButtonDivCult .cercle:nth-child(3) {
        top: 29vh;
        right: 48vw;
    }
    .ButtonDivCult .cercle:nth-child(2) {
        top: 31vh;
        right: 15vw;
    }
    .ButtonDivCult .cercle:nth-child(1) {
        top: 34vh;
        left: -7vw;
    }

    .ButtonDivCult .cercle .items a {
      width: auto;
      width: 100px;
      height: 100px;
    }

    .ButtonDivCult .cercle .items p {
      font-size: 2vw;
      text-align: center;
    }
    .ButtonDivCult .cercle:nth-child(1) .items p {
        font-size: 1.7vw;
        margin-top: 2vw;
    }
    .ButtonDivCult .cercle:nth-child(2) .items p {
        margin-top: 2vw;
    }
    .ButtonDivCult .cercle:nth-child(3) .items p {
        margin-top: 1vw;
    }
  }