.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.img {
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.ButtonDiv {
  display: flex;
  width: auto;
  justify-content: center;
}

.LastCarousel {
  height: 748px;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LastCarousel img {
  scale: 0.7;
}

.LastCarousel .arrowRigth {
  rotate: 180deg;
}

.LastCarousel .textDiv {
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.LastCarousel .textDiv .boxDiv {
  background-color: antiquewhite;
  height: 556px;
}

@media only screen and (max-width: 700px) {
  .ButtonDiv {
    flex-wrap: wrap;
    height: 700px;
    align-items: flex-start;
    align-content: flex-start;
  }

  .ButtonDiv .cercle {
    margin: 10px;
  }

  .ButtonTitle {
    display: flex;
    justify-content: center;
  }
}